body {
    
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 300px 620px;
    grid-gap: 1em;
    grid-template-areas:    "header header"
                            "img text";
    background-color: rgb(25, 15, 48);
    background: linear-gradient(to bottom, rgb(42, 10, 68), #000000);
    /* background: url("../img/webb-dark.png"); */
    opacity: 1;
}

header{
    grid-area: header;
}

header>img {
    max-width: 1000px;
    max-height: 300px;
    width: 100%;
    transform: scale(100%);
    margin: 0 0 0 0;

}
img {
    grid-area: img;
    /* float: left; */
}

p{
    grid-area: text;
    color: white;
    max-width: 700px;
}

